.title {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--red);
    color: white;
    border-radius: 10px;
    height: 35px;
}

.title p {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}

.icon {
    margin-right: 10px;
    font-size: x-large;
    transition: transform 0.5s;
}

.text {
    display: none;
    background-color: #fbfbfb;
    font-size: x-small;
    margin-top: -15px;
}

.text p {
    font-size: 15px;
    padding: 10px 5px;
}

.rotate {
    transform: rotate(180deg);
}