
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 145px;
    height: 46px;
}

.header-route {
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media (max-width: 767px) {
        text-transform: uppercase;
    }
}

.header-link {
    color: black;
    text-decoration: none;
}

.active-link {
    text-decoration: underline;
    text-underline-offset: 5px;
}