.image {
    width: 100%;
    height: 12vh;
    margin-top: 20px;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/IMG.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: flex-start;

    @media (min-width: 768px) {
        justify-content: center;
    }

    @media (min-width:1024px) {
        height: 16vh;
    }
}

.image p {
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-left: 10px;
}

.appartement {
    display: flex;
    flex-direction: column;

    @media (min-width:768px)  {
        background-color: #F6F6F6;
        padding: 10px 30px 30px 30px;
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }

    @media (min-width:1024px) {
        gap: 55px;
    }
}

.appartement a {
    
    @media (min-width:768px) and (max-width: 1023px) {
        width: 45%;
    }

    @media (min-width:1024px) {
        width: 29%;
    }
}