:root {
  --red: #FF6060;
  --min-tablet: 768px;
}

body {
  margin: 0;
}

.margin-body {
  margin: 8px;
  padding: 0 1px;

  @media (min-width: 768px) {
    padding: 10px 50px;
  }

  @media (min-width: 1023) {
  margin: 20px;

  }
}

.big-div {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}