#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
* {
  /* max-width: 425px; */
  /* padding: 0 1px; */
}

:root {
  --red: #FF6060;
  --min-tablet: 768px;

}

body {
  margin: 0;
}

.margin-body {
  margin: 8px;
  padding: 0 1px;

  @media (min-width: 768px) {
    padding: 10px 50px;
  }

  /* @media (min-width: 1200px) {
    padding: 10px 50px;
  } */

}